.component-header{
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;

    /*background: #0D0D0D;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.30));*/

    background: rgba(0, 0, 0, 0.66);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
}
.logo-restaurante{
    background-image: url("./imgHeader/Logotipo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.menu-hamburguesa{
    background-image: url("./imgHeader/icoMenu.svg");
    width: 23.922px;
    height: 17.815px;

    cursor: pointer;
    
}
.header-access{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.video-publicitario video {
    max-width: 250px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

