.component-footer{
    background: #0E0C0D;
    
    filter: drop-shadow(0px -6px 10px rgba(0, 0, 0, 0.30));
    height: 55px;
    display: flex;
    justify-content: space-evenly;
}
.whatsapp{
    background-image: url("./imgFooter/icoWhatsapp.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 54px;

    cursor: pointer;
}
.qr{
    width: 54px;
    height: 54px;



    background-image: url("./imgFooter/icoQr.svg");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}
.game{
    background-image: url("./imgFooter/icoGift.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 54px;
    background-size: cover;
    margin-top: -16px;
    cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
